#info {
    background-color: rgba(0,0,0,0.7);
    width: 400px;
    left: 430px;
    height: auto;
    top: 300px;
    color: #fff;
    border: 2px solid #333;
    position: absolute;
    z-index: 10001;
    opacity: 1.0;
    padding: 10px;
    border-radius: 10px;
    font-size: 24px;
    text-align: center;
    box-shadow: 0px 0px 4px #000;
}
#info.hide{
	opacity: 0.0 !important;
}
#appmgr, #oipfcfg{
	position: absolute; 
	left: 0px; 
	top: 0px; 
	width: 0px; 
	height: 0px;
}