#info, #infoBox {
    height: auto;
    color: #fff;
    border: 2px solid #333;
    position: absolute;
    z-index: 10001;
    opacity: 1.0;
    border-radius: 10px;
    
    text-align: center;
    box-shadow: 0px 0px 4px #000;
}
#info {
	font-size: 24px;
	padding: 10px;
    width: 450px;
    left: 430px;
	top: 300px;
	background-color: rgba(0,0,0,0.7);
}
#infoBox {
    width: 1240px;
	height: 680px;
    left: 20px;
	top: 20px;
	display: absolute;
	background-color: rgba(0,0,0,0.4);
}

#info.hide, #infoBox.hide{
	opacity: 0.0 !important;
}
#appmgr, #oipfcfg{
	position: absolute; 
	left: 0px; 
	top: 0px; 
	width: 0px; 
	height: 0px;
}

.verticalMiddle{
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}